<h1>Let's get it done!</h1>

<%= link_to 'Add Item', new_item_path %>

  <table>
    <thead>
      <tr>
        <th>ToDo</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.description %></td>
          <td><%= link_to ('<i class="fa fa-trash-o"></i>').html_safe, item_path(item), method: 'delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
