/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.notice {
  color: green;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
table {
  border: 1px solid #000;
  width: 350px;
  margin: 0 auto;
}
table th  {
  font-size: 30px;
}

thead {
  color: #000;
  font-family: 'Abril Fatface', cursive;
}

tbody {
  font-size: 20px;
}
thead tr {
  display: grid;
}
tr {
  display: flex;
  flex-direction: row;
}
td {
  padding: 8px 15px;
}

td:nth-child(odd){
  width: 90%;
}

td:nth-child(even){
  text-align: center;
}

tr:nth-child(odd) {
  background: #A8216B;
  color: #fff;
}

tr:nth-child(even) {
  color: #fff;
  background-color: #EC1B4B;
}

i {
  visibility: hidden;
}

tr:hover i {
  visibility: visible;
  cursor:pointer;
}

tr:hover i {
  color: #fff;
}

.delete {
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}
